body{
  background-color:#AEFEFF;
}
hr{

  border-style:none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;
}
h1{
  color: #92A9BD;
}
h3{
  color: #92A9BD;
}
h2{
  color: #92A9BD;
}
